
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #004080;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.ricerca, .barche, .dettaglio-barca, section {
    padding: 20px;
}

.lista-barche {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #004080;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
